---
import Layout from "~/layouts/Main.astro";
---

<Layout>
  <main class="prose prose-neutral prose-invert mb-40">
    <h1 class="mb-2 text-2xl font-medium">hey, i'm caleb 👋</h1>
    <p>
      I'm a software engineer, cityscape enthusiast, and undergraduate computer
      science student at
      <a href="https://www.ucf.edu/" target="_blank"> UCF</a>. I currently work
      as the Development Lead at <a
        href="https://github.com/knighthacks"
        target="_blank">Knight Hacks</a
      > where I enable students to build really cool stuff using modern patterns
      and bleeding edge tech.
    </p>
    <div class="my-8">
      <div class="not-prose columns-2 sm:columns-3">
        <div class="relative mb-4 h-40">
          <img
            src="/rooftop.jpg"
            class="absolute inset-0 h-full w-full rounded-lg object-cover"
            alt="A girl on a rooptop looking out over a city with a sunset in the background"
          />
        </div>
        <div class="relative mb-4 h-80 sm:mb-0">
          <img
            src="/budapest.jpg"
            class="absolute inset-0 h-full w-full rounded-lg object-cover"
            alt="An aerial view of Budapest, Hungary"
          />
        </div>
        <div class="relative h-40 sm:mb-4 sm:h-80">
          <img
            src="/lunar.jpg"
            class="absolute inset-0 h-full w-full rounded-lg object-cover"
            alt="Cityscape with a moon in the background"
          />
        </div>
        <div class="relative mb-4 h-40 sm:mb-0">
          <img
            src="/7pm.jpg"
            class="absolute inset-0 h-full w-full rounded-lg object-cover"
            alt=""
          />
        </div>
        <div class="relative mb-4 h-40">
          <img
            src="/timeless.jpg"
            class="absolute inset-0 h-full w-full rounded-lg object-cover"
            alt=""
          />
        </div>
        <div class="relative h-80">
          <img
            src="/walls.jpg"
            class="absolute inset-0 h-full w-full rounded-lg object-cover"
            alt=""
          />
        </div>
      </div>
      <div class="mt-2 text-right text-sm">
        Artwork By <a href="https://www.artstation.com/aenamiart"
          >Alena Aenami</a
        >
      </div>
    </div>
    <p>
      Over the summer in 2023, I also worked at <a
        href="https://discord.com/"
        target="_blank">Discord</a
      > as a part of their first intern cohort. I joined their Design Systems team,
      building tools to improve designer workflows. You can hear more about my experience
      at Discord, as well as from other interns
      <a
        href="https://discord.com/blog/what-its-like-to-be-a-discord-intern"
        target="_blank">here</a
      >.
    </p>
    <ul class="not-prose flex gap-4">
      <li>
        <a
          href="https://github.com/LightBounded"
          class="flex items-center gap-2 transition-colors hover:text-neutral-50"
        >
          <svg
            width="12"
            height="12"
            viewBox="0 0 12 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              d="M2.07102 11.3494L0.963068 10.2415L9.2017 1.98864H2.83807L2.85227 0.454545H11.8438V9.46023H10.2955L10.3097 3.09659L2.07102 11.3494Z"
              fill="currentColor"></path></svg
          >
          github
        </a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/calebrossr/"
          class="flex items-center gap-2 transition-colors hover:text-neutral-50"
        >
          <svg
            width="12"
            height="12"
            viewBox="0 0 12 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              d="M2.07102 11.3494L0.963068 10.2415L9.2017 1.98864H2.83807L2.85227 0.454545H11.8438V9.46023H10.2955L10.3097 3.09659L2.07102 11.3494Z"
              fill="currentColor"></path></svg
          >
          linkedin
        </a>
      </li>
      <li>
        <a
          href="/resume.pdf"
          class="flex items-center gap-2 transition-colors hover:text-neutral-50"
        >
          <svg
            width="12"
            height="12"
            viewBox="0 0 12 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              d="M2.07102 11.3494L0.963068 10.2415L9.2017 1.98864H2.83807L2.85227 0.454545H11.8438V9.46023H10.2955L10.3097 3.09659L2.07102 11.3494Z"
              fill="currentColor"></path></svg
          >
          resume
        </a>
      </li>
    </ul>
  </main>
</Layout>
