---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <nav class="flex h-36 items-center gap-3">
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/work">Work</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
  </nav>
</header>
