---
import BaseHead from "~/components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "~/consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body
    class="mx-auto flex max-w-screen-lg bg-neutral-950 text-sm text-neutral-50"
  >
    <slot />
  </body>
</html>
